---
title: "Pre-Fall 2014 Final"
description: "What students are expected to know and do at the end of the quarter"
layout: page
---


/ - final_object = data.finals.pre_fall_2014

/ div.final-exam
/   div.overview
/     - final_object.each_pair do |section_slug, section|
/       - next unless section

/       section.section
/         h2.title = section.title
/         div.background = make_markdown section.background
/         div.text = make_markdown section.text
/         / section#questions
/         /   - section.questions.each do |question|
/         /     h4 => question.title
/         /     div.text => make_markdown question.text
