@import 'site/code';
@import 'site/footer';
@import 'site/header';
@import 'site/media';
@import 'site/tables';

@import 'pages/page';
@import 'pages/week_lesson';
@import 'pages/assignment';
@import 'pages/schedule';
@import 'pages/tutorial';

body{
  padding-top: 3em;
}

.sec{
  margin-top: 2.5em;
  margin-bottom: 2.5em;
}


// .content-box{
//   margin-bottom: 0.8em;
//   .content-resource{
//     img{
//       height: 200px;
//       width: 100%;
//     }

//     outline: #999 solid 1px;
//     .text{
//       padding: 0.1em 0.5em 0.5em 0.5em;
//     }
//     .title, .source{
//       font-size: $font-size-base;
//     }
//   }
// }

.content-row{
  @extend .row;
  .content-resource{
    .text{
      @extend .col-sm-8;
      @extend .pull-right;
    }
    .image{
      @extend .col-sm-4;
      @extend .bordered;
      min-width: 1px;
    }
  }
}

.content-resource{
  &.item{
      margin-top: 1.5em;
      margin-bottom: 1.2em;
  }
  h1{
    font-size: $font-size-h5;
  }
  img{
    @extend .img-responsive !optional;
    margin-bottom: 0.5em;
  }

  .title, .source{
    font-size: $font-size-medium;
  }
  .title{
    font-weight: bold;
  }
}
