@import 'site/code';
@import 'site/footer';
@import 'site/header';
@import 'site/media';
@import 'pages/page';
@import 'pages/week_lesson';
@import 'pages/assignment';
@import 'pages/schedule';

body{
  padding-top: 3em;
}


.sec{
  margin-top: 2.5em;
}


.content-resource{
  h1{
    font-size: $font-size-h5;
  }
    margin-top: 1.5em;
    margin-bottom: 1.2em;
    .title, .source{
      font-size: $font-size-medium;
    }
    .title{
      font-weight: bold;
    }
}
