.page-content-mediawrap-img{
  margin: 1.0em 0 2.0em;
  max-width: 100%;
}




.page-content{

  img{
    max-width: 100%;
  }

  h1{
    font-size: 2.25rem;
    margin-top: 2.0em;
  }
  /* standard markdown images */
  /*hack until media wrap is better implemented */
  p > img:first-child, iframe, video{
    @extend .page-content-mediawrap-img;
  }

  ul, ol{
    padding-left: 0.8em;
  }
}


.page-header{
  h1.title{
    font-size: $font-size-h1 * 1.1;
    margin-bottom: 1.5rem;
  }
}


.references{
  margin-top: 1.5em;
  h1{
    font-size: $font-size-h5;
  }
  .reference{
    margin-bottom: 1.2em;
    .title, .source{
      font-size: $font-size-medium;
    }
    .title{
      font-weight: bold;
    }
  }
}
