<% wrap_layout :default do %>

    <div class="boilerplate">
      <h1><%= page_title %></h1>
    </div>

    <div class="page-content">
      <%= yield %>
    </div>



    <div  id="references" class="references">
      <% if current_page.data.references %>
        <h2>References</h2>
        <% current_page.data.references.each do |r| %>
          <div class="reference">
            <%= link_to_resource(r) %>
          </div>
        <% end %>
      <% end %>
    </div>


<% end %>
