<%- tutorial = TutorialResource(current_page) %>

<% content_for :crumb do %>
  <%= link_to 'Tutorials', '/tutorials' %>
<% end %>

<% wrap_layout :page do %>

<% unless tutorial.takeaways.empty? %>
<section class="sec takeaways" id="takeaways">
  <h2>The Takeaways</h2>

<p>By the end of this tutorial, make sure you can answer these questions: </p>

  <ul class="list list-unstyled">
    <% tutorial.takeaways.each do |t| %>
      <li class="takeaway"><%=markdownify t%></li>
    <% end %>
  </ul>
</section>
<% end %>


<%= yield %>
<% end %>
