$body-bg:               #fff !default;
$brand-primary: #4C93A0;

$code-color:                  #aa253e !default;
$code-bg:                     inherit !default;

$headings-color:          inherit !default;
$highlight-bg: #FFF4BA;
$link-color:            $brand-primary !default;
$link-hover-color: darken($link-color, 15%);
$theme-color: #3E1669;
$text-color: #333;

