.mediawrap{
    margin: 1.0em 0 2.0em;
    text-align: center;
    img, iframe{
        margin: auto auto;
    }

    img{
        max-width: 100%;
    }

    img.bordered{
        outline: #999 solid 1px;
    }
    img.wide{
        outline: #999 solid 1px;
        width: 100%;
    }


    .caption{
        font-size: smaller;
        p{
            margin-top: 2px;
        }
    }
}
