---
title: Florida's missing speeding cops
description: How the Sun-Sentinel used databases and grade-school arithmetic to derive the illegal speeding by Florida cops.

references:
  - title: "Sun-Sentinel Online Database: Speeding Cops in South Florida"
    url: http://databases.sun-sentinel.com/news/broward/ftlaudCopSpeeds/ftlaudCopSpeeds_list.php
  
  - title: "YouTube: Florida Highway Patrol Arrests Miami Police Officer Dashcam"
    url: http://www.youtube.com/watch?v=nq1sscJcZdA
---




## References

<% current_page.data.references.each do |r| %>
<div class="reference"><%=link_to_resource(r) %></div>
<% end %>

