---
title: Florida's missing speeding cops

description: How the Sun-Sentinel used databases and grade-school arithmetic to derive the illegal speeding by Florida cops.

references:

  - title: "Citation for 2013 Pulitzer Prize for Public Service: Sun Sentinel"
    url: http://www.pulitzer.org/citation/2013-Public-Service

  - title: "Sun-Sentinel Online Database: Speeding Cops in South Florida"
    url: http://databases.sun-sentinel.com/news/broward/ftlaudCopSpeeds/ftlaudCopSpeeds_list.php
  
  - title: "YouTube: Florida Highway Patrol Arrests Miami Police Officer Dashcam"
    url: http://www.youtube.com/watch?v=nq1sscJcZdA

  - title: "How the Sun Sentinel reported its Pulitzer Prize winning coverage of off-duty cops"
    url: http://www.ire.org/blog/ire-news/2013/04/15/how-sun-sentinel-reported-its-pulitzer-prize-winni/

---




# Impact of the story

In [June 2012](http://www.pulitzer.org/files/2013/public-service/12speedingcopsdisciplined.pdf), the Sun-Sentinel reported that 138 officers statewide had been punished, including 39 Miami-Dade detectives who had lost their take-home cars for a month. The Sun-Sentinel also reported that the police chief said that one or more officers would be fired.

The Sun-Sentinel well-deservedly won the 2013 Pulitzer for Public Service.

Incidentally, this story still continues to be a public affairs data story: The state trooper who ticketed the Miami cop is suing 25 Florida law agencies, alleging that they violated the Driver Privacy Protect Act. The trooper filed a public records request and found that her state license information had been accessed by "[88 different officers in 25 different agencies over 200 times in just a three-month span](http://www.autoblog.com/2014/02/12/officer-who-issued-120-mph-ticket-suing-police-harassment/)"


## References

<% current_page.data.references.each do |r| %>
<div class="reference"><%=link_to_resource(r) %></div>
<% end %>

