
<div class="warning card card-block">
  <p><strong>Note:</strong> This tutorial is taught in Sept. 24's class but I didn't get all the text transcribed. All the TK notes will be filled in. In the meantime, you can use this tutorials from last year: </p>

<ul>
  <li><a href="http://www.padjo.org/tutorials/spreadsheets/why-spreadsheets/">Why Spreadsheets?</a></li>
  <li>  <%= my_link_to_resource '/tutorials/spreadsheets/basic-agg-pivot-tables' %></li>
</ul>


</div>








<%= render_toc %>









---------

# Our goals

(TK: Will write this section up after class)

<!-- 
# Our goals

## Thinking about the data

### Differences from the USGS data


Original data: [usgs-north-america-quakes.csv](/files/data/usgs-us-with-fips-quakes.csv)

TK how I got the data, screenshot

Curl statements:

~~~sh
curl --compressed $that_massive_url > /tmp/usgs-north-america-quakes.csv
~~~



My filtered data: [usgs-us-with-fips-quakes.csv](/files/data/usgs-us-with-fips-quakes.csv)

 -->


------------





## Deriving values with formulas

Again, some notes to tide you by:

<ul class="TK">
  <li><a href="http://www.padjo.org/tutorials/spreadsheets/why-spreadsheets/">Why Spreadsheets?</a></li>
  <li>  <%= my_link_to_resource '/tutorials/spreadsheets/basic-agg-pivot-tables' %></li>
</ul>


### The `LEFT` formula

#### Pie chart by year

#### Creating a year_month columns


----------------

### The `IF` formula

#### Pie chart by state

<iframe width='100%' height='400' src="https://docs.google.com/spreadsheets/d/16LKYJN-JjpbSP5m5pvVttkG-XNJL7_QabSHnhvMpByk/pubchart?oid=1061720506&amp;format=interactive"></iframe>

Or, as a histogram:

<iframe width='100%' height='400' src="https://docs.google.com/spreadsheets/d/16LKYJN-JjpbSP5m5pvVttkG-XNJL7_QabSHnhvMpByk/pubchart?oid=1434703164&amp;format=image"></iframe>


#### Pie chart of Oklahoma vs. everyone else

<iframe width='100%' height='400' src="https://docs.google.com/spreadsheets/d/16LKYJN-JjpbSP5m5pvVttkG-XNJL7_QabSHnhvMpByk/pubchart?oid=1831888376&amp;format=image"></iframe>


------------



# Pivot table basics

Again, some notes to tide you by:

<ul class="TK">
  <li><a href="http://www.padjo.org/tutorials/spreadsheets/why-spreadsheets/">Why Spreadsheets?</a></li>
  <li>  <%= my_link_to_resource '/tutorials/spreadsheets/basic-agg-pivot-tables' %></li>
</ul>



## Single-series visualizations


### Pivoting and visualizing earthquakes by year


[Pivot table](https://docs.google.com/spreadsheets/d/16LKYJN-JjpbSP5m5pvVttkG-XNJL7_QabSHnhvMpByk/edit#gid=1732248793)

[Chart](https://docs.google.com/spreadsheets/d/16LKYJN-JjpbSP5m5pvVttkG-XNJL7_QabSHnhvMpByk/edit#gid=953373457)

<iframe width='100%' height='400' src="https://docs.google.com/spreadsheets/d/16LKYJN-JjpbSP5m5pvVttkG-XNJL7_QabSHnhvMpByk/pubchart?oid=771855153&amp;format=image"></iframe>

### Pivoting and visualizing earthquakes by year-month

Note that we are pivoting across a column we made up that consists of the year, a hypen, and the month of an earthquake, e.g. `2014-08`. This is not the same as pivoting by year and by month (i.e. month as rows, year as columns, or vice versa), which would result in a multi-series visualization ([which we cover in the next section](#mark-multi-series)).


[Pivot table](https://docs.google.com/spreadsheets/d/16LKYJN-JjpbSP5m5pvVttkG-XNJL7_QabSHnhvMpByk/edit#gid=2115730988)

[Chart](https://docs.google.com/spreadsheets/d/16LKYJN-JjpbSP5m5pvVttkG-XNJL7_QabSHnhvMpByk/edit#gid=698578377)

<iframe width='100%' height='400' src="https://docs.google.com/spreadsheets/d/16LKYJN-JjpbSP5m5pvVttkG-XNJL7_QabSHnhvMpByk/pubchart?oid=851737018&amp;format=image"></iframe>



<a id="mark-sort-pivot-state"></a>

### Pivoting and visualizing earthquakes by state



#### The importance of sorting

Remember to use the __sort__

Sorting by the value:


#### Pivot

[Pivot table](https://docs.google.com/spreadsheets/d/16LKYJN-JjpbSP5m5pvVttkG-XNJL7_QabSHnhvMpByk/edit#gid=1075243904)

#### Chart

[Chart](https://docs.google.com/spreadsheets/d/16LKYJN-JjpbSP5m5pvVttkG-XNJL7_QabSHnhvMpByk/pubchart?oid=830641781&format=interactive)

<iframe width='100%' height='350' src="https://docs.google.com/spreadsheets/d/16LKYJN-JjpbSP5m5pvVttkG-XNJL7_QabSHnhvMpByk/pubchart?oid=830641781&amp;format=interactive"></iframe>



-------------------

<a id="mark-multi-series"></a>

## Multi-series stacked visualizations


### By year, for each state

#### Pivot

[Pivot table](https://docs.google.com/spreadsheets/d/16LKYJN-JjpbSP5m5pvVttkG-XNJL7_QabSHnhvMpByk/edit#gid=1973163497)

#### Chart

[Chart](https://docs.google.com/spreadsheets/d/16LKYJN-JjpbSP5m5pvVttkG-XNJL7_QabSHnhvMpByk/edit#gid=175563911)

<iframe width='100%' height='350' src="https://docs.google.com/spreadsheets/d/16LKYJN-JjpbSP5m5pvVttkG-XNJL7_QabSHnhvMpByk/pubchart?oid=1164972071&amp;format=interactive"></iframe>

### By era, for each state


M3.0+ earthquakes by state and by era: 2011-2013 and 2014-2015

#### Pivot

[Pivot table](https://docs.google.com/spreadsheets/d/16LKYJN-JjpbSP5m5pvVttkG-XNJL7_QabSHnhvMpByk/edit#gid=1576318441)

#### Chart

[Chart](https://docs.google.com/spreadsheets/d/16LKYJN-JjpbSP5m5pvVttkG-XNJL7_QabSHnhvMpByk/edit#gid=627213524)



<iframe width='100%' height='350' src="https://docs.google.com/spreadsheets/d/16LKYJN-JjpbSP5m5pvVttkG-XNJL7_QabSHnhvMpByk/pubchart?oid=1077827130&amp;format=interactive"></iframe>




### Oklahoma versus all other U.S. combined

#### Pivot

[Pivot table](https://docs.google.com/spreadsheets/d/16LKYJN-JjpbSP5m5pvVttkG-XNJL7_QabSHnhvMpByk/edit#gid=747267630)

##### Oklahoma versus all other U.S, 2011-2015

TK IMG

[Aggregated data and chart](https://docs.google.com/spreadsheets/d/16LKYJN-JjpbSP5m5pvVttkG-XNJL7_QabSHnhvMpByk/edit#gid=804873926)


#### Oklahoma vs. all other U.S., by year

[Chart](https://docs.google.com/spreadsheets/d/16LKYJN-JjpbSP5m5pvVttkG-XNJL7_QabSHnhvMpByk/edit#gid=51397626)

<iframe width='100%' height='350' src="https://docs.google.com/spreadsheets/d/16LKYJN-JjpbSP5m5pvVttkG-XNJL7_QabSHnhvMpByk/pubchart?oid=1684449733&amp;format=interactive"></iframe>

# Discussion

## On geography

##
