<div class="banner">
  <% if (url = banner.iframe_url) %>
    <iframe width="100%" height="600" frameborder="0" src="<%=url%>" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
  <% end %>
</div>
