---
title: DIY Databases
description: |
  Some of the most important journalism involves finding that there just is no official data -- and then being able to efficiently collect and organize the data needed to do unique analysis and journalism. The recent crowdsourced initiatives to track police-involved homicides are valuable case studies for learning best practices and the complications of real-world data collection. 
date: 2015-09-29
assignments:
  - /assignments/sf-crime-aug-2015-pivot/
  - /assignments/more-crime-pivots/
  - /assignments/read-5-data-journalism-stories
lessons:
  - /briefs/baltimore-rapes-decline
  - /tutorials/spreadsheets/basic-agg-pivot-tables
  - /tutorials/spreadsheets/maps-earthquakes-spreadsheets-part-1
  - /tutorials/spreadsheets/maps-earthquakes-spreadsheets-part-2
  - /tutorials/spreadsheets/maps-earthquakes-spreadsheets-part-3

references:
  - title: A quick list of deep and interesting datasets for computational journalists
    url: http://cjlab.stanford.edu/2015/09/30/lab-launch-and-data-sets/
    description: |
      A list of public and easy-to-get (but not easy to analyze) datasets. They are all too big for easy spreadsheet work, but that's why we'll be learning about databases...
---

# Notes for Thursday, October 1

More pivot tables:

<p><strong>Today's dataset:</strong> 

<a href="/files/data/sf-crimes-august-2014-2015.csv">San Francisco police incidents for August 2014 and 2015</a>
</p>

# Notes for Tuesday, September 29
{:.day-lesson}


## Hands-on lesson about earthquakes and pivot tables

__Download the data here:__ [usgs-north-america-quakes.csv](/files/data/usgs-us-with-fips-quakes.csv)

Let's try to do better than this map:


<iframe width="100%" height="520" frameborder="0" src="https://dundee.cartodb.com/viz/888634d0-60ae-11e5-93c9-0e018d66dc29/embed_map" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
