---
title: More DIY Databases and introduction to SQL
description: |
  We continue looking at "homemade" databases and start to learn the concepts and basics of Structured Query Language and database programming.
date: 2015-10-06
lessons:
  - /tutorials/mapping/quick-spreadsheet-to-map
  - /tutorials/sql-admin/getting-started-with-sqlite-browser
  - /briefs/tracking-police-involved-homicides
  - /briefs/tracking-mass-shootings/
assignments:
  - /assignments/sfpd-sql-to-maps-intro/
---


In light of unfortunate current events, it seems timely to look at how difficult it is to [track incidents of mass shootings/murders](/briefs/tracking-mass-shootings/) as well as [police-involved killings](/briefs/tracking-police-involved-homicides).

One example of an [independent crowdsourced counting project](http://www.motherjones.com/special-reports/2012/12/guns-in-america-mass-shootings) comes from Mother Jones:

> After the 2012 mass shooting in Aurora, Colorado, Mother Jones launched a five-month special investigation focusing on American gun laws and the apparent rise in mass shootings. Their project included an online database of mass shootings from 1982-2012, which they have updated with major shootings through 2015.


<a href="/briefs/tracking-mass-shootings/"><img src="/files/images/briefs/mass-shootings/mother-jones-histogram.png" alt=""></a>


### Data files

<p><a href="http://stash.padjo.org/dumps/sql/sfpd_assault_reports_2003_2013.sqlite.zip">SFPD Assaults 2003 - 2013</a></p>

