<!-- footer -->
<footer class="site-footer">
    <div class="container">
        <div class="row">

            <div class="col-sm-6">

                <p>
                    <a href="http://www.padjo.org"><strong>Public Affairs Data Journalism I</strong></a> is taught by <a href="http://stanford.edu/~dun/">Dan Nguyen</a>, Hearst Professional in Residence at Stanford University.
                </p>

                    <ul class="list-unstyled">
                        <% ['assignments','tutorials'].each do |x|  %>
                            <li><a href="/<%=x%>"><%=x.titleize%></a></li>
                        <% end %>
                    </ul>

            </div>

            <div class="col-sm-6">
                <p>This site is part of the
                <a href="http://cjlab.stanford.edu">Stanford Computational Journalism Lab</a>
                </p>

                <p>You can find Dan Nguyen on <a href="https://twitter.com/dancow">Twitter</a> and <a href="https://github.com/dannguyen">Github</a>.</p>

            </div>

        </div>
        <!-- end row-->
    </div>
</footer>
