<!-- footer -->
<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                The <a href="http://cjlab.stanford.edu">Stanford Computational Journalism Lab</a>
            </div>
            <div class="col-sm-6">
                <p>
                    <a href="http://www.padjo.org">Public Affairs Data Journalism</a> is taught by <a href="http://stanford.edu/~dun/">Dan Nguyen</a>, Hearst Professional in Residence at Stanford University.
                </p>

                <p>You can find me on <a href="https://twitter.com/dancow">Twitter</a> and <a href="https://github.com/dannguyen">Github</a>.</p>
            </div>
        </div>
        <!-- end row-->
    </div>
</footer>
