<header class="site-header navbar-fixed-top navbar" id="header-headroom">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <a class="site-title" href="<%=config[:site_url]%>"><%= config[:site_title] %></a>
      </div>
    </div>
  </div>
</header>

